<hgroup>
    <h1>Success</h1>
    <h2>Your Listing is now entered into Manager</h2>
    <h2>To look up property information use the search bar at the top</h2>
</hgroup>

<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>